.banniere-certif{
    background-image: url("/assets/img/Certification/Bannière.png");
    width: auto;
}


.bann{
    width: auto;
    height: 627px;
    background-color: rgba(0, 0, 0, 0.50);
}

.phrase-banniere{
    width: 1230px;
}

.infocontain{
    
}

.page{
    margin-left: 140px;
    /* margin-right: 243px; */
    margin-top: 147px;
}

.ensemble{
    display: flex;
    margin-bottom: 55px;
}

.titre{
    margin-bottom: 45px;
}

.text p{
    font-size: 30px;
    color: #615B57;
    width: 862px;
}
.text{
    margin-right: 153px;
}

/* Bouton */
.bouton button{
    cursor: pointer;
    border:0;
    text-align: center;
    background: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 29px;
    width: 380px;
    height: 59px;
    z-index: 9999;
}

.bouton{
    width: 520px;
    height: 175;
    /* display: flex; */
}
.bouton2{
    display: flex;
    justify-content: flex-end;
    height: 175px;
    align-items: center;
    position: relative;
    bottom: 175px;
}

.bouton .vert{
    z-index: 1;
    background-color: #00FF00;
    width: 399px;
    height: 175px;
    display: flex;
    justify-content: flex-start;
    margin-top: 185px;
}